<!DOCTYPE html>
<html>
  <head>
    <title>File Sharing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="container">
      <div class="file-container">
        <div class="not-found error">Oops, <%= error %></div>
      </div>
    </section>
  </body>
</html>
