<!DOCTYPE html>
<html>
  <head>
    <title>File Sharing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <div class="index-container">
        <div class="btn">
          <a href="/auth/login" class="btn"> login </a>
          <a href="/auth/signup" class="btn"> Sign up </a>
        </div>
      </div>
    </section>
  </body>
</html>
